<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1 mb-5 pb-2">
		<h1 class="title display-1 text-white center">Spark Catalog</h1>
		<h2 class="bigsubtitle center">Recent experiments</h2>
	</div>

	<div class="bb1">
		<% for (qpost of qposts) { %>
			<a href="/sparks/<%= qpost.uuid %>" class="nodec">
				<div class="qpostBox">
					<h2 class="fst-italic text-white">
						"<%= qpost.title %>"
					</h2>
					<h3 class="fst-italic text-white">
						from <%= qpost.creator %><br><br>
						Posted on <%= qpost.date.toLocaleDateString() %> at
						<%= qpost.date.toLocaleTimeString(undefined, {timeZone: "America/New_York"}) %>
					</h3>
				</div>
			</a>
		<% } %>
	</div>
</body>

</html>
